.c-allergens {
  max-width: 48rem;
  margin: 0 auto;

  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    padding: 2rem;
    box-shadow: 0 0 1rem 0 rgba(0,0,0,.1);

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__icon {
    width: 100%;
    max-width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2rem;
    font-size: 3.5rem;
  }

  &__name {
    font-size: 1.25rem;
    font-weight: var(--font-weight-bold);
    margin-bottom: 0;
  }

  &__desc {
    margin-bottom: 0;
  }

  @include brk(xs, max-width) {
    &__item {
      flex-direction: column;
      text-align: center;
    }

    &__icon {
      margin: 0 0 1rem;
    }
  }
}