.c-allergens-widget {
  max-width: 36rem;
  margin: 0 auto;
  text-align: center;

  @media print {
    max-width: 100%;
    break-inside: avoid;
    position: fixed;
    bottom: 0;
  }

  &__heading {
    font-size: 1.2rem;
    font-weight: var(--font-weight-bold);

    @media print {
      text-align: left;
      font-size: rem(10px);
      margin-bottom: 0;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 1rem;

    @media print {
      margin-bottom: 0;
      justify-content: flex-start;
    }
  }

  &__item {
    margin: .25rem .5rem;
    font-size: rem(14px);
    line-height: var(--line-height);

    @media print {
      font-size: rem(8px);
      margin: 0 .15rem;
    }
  }
}