{**
 * @param string   $basePath web base path
 * @param array    $flashes  flash messages
 *}

<!DOCTYPE html>
<html>
<head>
    {include 'components/head.latte'}
</head>

<body>
{*<div n:foreach="$flashes as $flash" n:class="alert, 'alert-' . $flash->type">{$flash->message}</div>*}
    <div class=o-page>

        <div class="o-layout">
            <div class="o-layout__top-bar">
                {include 'components/top-bar.latte'}
            </div>

            <div class="o-layout__container">
                <div class="o-layout__side-bar">
                    {include 'components/side-bar.latte'}
                </div>

                <div class="o-layout__content">
                    {include content}
                </div>
            </div>
        </div>
    </div>

    <script src="{assetLink '/js/admin.js?v=' . $assetsVersion}" async defer></script>
</body>
</html>
