{**
 * @param string   $basePath web base path
 * @param array    $flashes  flash messages
 *}

<!DOCTYPE html>
<html>
<head>
    {include 'components/head.latte'}
</head>

<body>

{include content}

<script src="{assetLink '/js/admin.js?v=' . $assetsVersion}" async defer></script>
</body>
</html>
