// Sizes
$topbar-height: 60px;
$sidebar-width: 300px;
$layout-container: 1770px;
$layout-gap: 30px;

$portlet-header-min-height: 50px;
$portlet-footer-min-height: 50px;

// Colors
$primary-color: #5d5b6f;

$blue-lightest: #f8f9fc;
$blue-darkest: #1e1e2d;

$green-light: #43da9f;
$green-dark: #34a577;
$cyan-light: #81ecec;
$cyan-dark: #00cec9;
$blue-light: #74b9ff;
$blue-dark: #0984e3;
$purple-light: #a29bfe;
$purple-dark: #6c5ce7;
$yellow-light: #ffeaa7;
$yellow-dark: #fdcb6e;
$orange-light: #fab1a0;
$orange-dark: #e17055;
$red-light: #ff7675;
$red-dark: #d63031;
$pink-light: #fd79a8;
$pink-dark: #e84393;
$gray-lightest: #dfe6e9;
$gray-light: #b2bec3;
$gray-dark: #636e72;
$gray-darkest: #2d3436;

$font-color-default: $primary-color;

$border-color-default: #cacaca;

// Fonts
$font-default: Nunito, sans-serif;
$font-slab: Merriweather, $font-default;

// Box-shadows
$box-shadow-color: rgba(#000, .06);
$box-shadow-default: 0 0 20px 0 $box-shadow-color;
$border-radius-default: 5px;

// Border
$border-default: 1px solid $border-color-default;
$border-double: 3px double $border-color-default;

// Transition
$transition-speed-default: 200ms;

// Grid
$grid-gap: 15px;
$grid-cols: 12;

$grid-breakpoints: (
  xs: 400px,
  sm: 768px,
  md: 1024px,
  lg: 1440px,
  xl: 1920px,
);
