* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

html {
  font-family: $font-default;
  font-size: 14px;
  color: $primary-color;
}

body {

}

p,
a {
  line-height: 1.4;
}

b,
strong {
  font-weight: bold;
}

svg {
  fill: currentColor;
  width: 100%;
  height: 100%;
  display: inline-block;
  vertical-align: top;
}
