{snippet flashMessage}
	<div n:foreach="$flashes as $flash" class="c-flash-message c-flash-message--{$flash->type}">
		<span class="c-flash-message__icon">
			{if $flash->type === 'error'}
				{iconFront 'x-octagon'}
			{elseif $flash->type === 'success'}
                {iconFront 'check-circle'}
			{elseif $flash->type === 'info'}
                {iconFront 'alert-circle'}
			{/if}
		</span>
		<p class="c-flash-message__content">
            {$flash->message|noEscape}
		</p>
	</div>
{/snippet}
