<meta charset="utf-8">

<title>Administrace</title>

{block head}{/block}

{* Load fonts async *}
<script>
    WebFontConfig = {
        google: {
            families: ['Nunito:400,600,700:latin-ext', 'Merriweather:400,900:latin-ext']
        }
    };

    (function (d) {
        var wf = d.createElement('script'), s = d.scripts[0];
        wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js';
        wf.async = true;
        s.parentNode.insertBefore(wf, s);
    })(document);
</script>

<link rel="apple-touch-icon" sizes="180x180" href="{assetLink '/static/favicon/apple-touch-icon.png'}">
<link rel="icon" type="image/png" sizes="32x32" href="{assetLink '/static/favicon/favicon-32x32.png'}">
<link rel="icon" type="image/png" sizes="16x16" href="{assetLink '/static/favicon/favicon-16x16.png'}">
<link rel="manifest" href="{assetLink '/static/favicon/site.webmanifest'}">
<link rel="mask-icon" href="{assetLink '/static/favicon/safari-pinned-tab.svg'}" color="#000000">
<meta name="theme-color" content="#ffffff">

<link rel="stylesheet" href="{assetLink '/css/admin.css?v=' . $assetsVersion}">
