<div class="c-side-bar">
    <nav class="c-side-menu">
        <ul class="c-side-menu__list">
            <li class="c-side-menu__label">Fotografie k testování</li>
            <li class="c-side-menu__item">
                <a n:href=":Horizon:Admin:CaseGrid:default" class="c-side-menu__link">
                    <span class="c-side-menu__link-icon">{icon 'align-left'}</span>
                    <span class="c-side-menu__link-text">Seznam</span>
                </a>
            </li>
            <li class="c-side-menu__label">Překlady</li>
            <li class="c-side-menu__item">
                <a n:href=":Lang:Admin:Grid:default" class="c-side-menu__link">
                    <span class="c-side-menu__link-icon">{icon 'grid'}</span>
                    <span class="c-side-menu__link-text">Seznam</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
