<div class="c-top-bar">
    <div class="c-top-bar__wrap">
        <div class="c-top-bar__brand">
            <p class="c-top-bar__brand-name">
                Administrace
            </p>
        </div>
        <div class="c-top-bar__actions">
            <a n:href=":User:Admin:Login:logout" class="c-top-bar__profile">
                <span class="c-top-bar__profile-text">Odhlásit se</span>
                <span class="c-top-bar__profile-icon">{icon 'log-out'}</span>
                {*<span class="c-top-bar__profile-img"></span>*}
            </a>
        </div>
    </div>
</div>
