{block content}

<form n:name="form" class="js-bar-edit-form" novalidate>
    <div class="c-content c-content--action-bar">
        <div class="c-content__header">
            <h1 class="o-heading o-heading--h1">
                {if $langName}
                    {$langName}
                {else}
                    Nový překlad
                {/if}
            </h1>
        </div>

        <div class="c-content__action-bar">
            <div class="o-grid">
                <div class="o-grid__cell 12of12">
                    <div class="o-portlet">
                        <div class="o-portlet__header">
                            <h2 class="o-heading o-heading--h2">Status</h2>
                        </div>
                        <div class="o-portlet__body">
                            <dl>
                                <dt class="o-description-list__name">Datum poslední změny</dt>
                                <dd class="o-description-list__value">{if $lastUpdateDate}{$lastUpdateDate|date:'d. m. Y H:i'}{else}---{/if}</dd>
                            </dl>
                        </div>
                        <div class="o-portlet__footer">
                            <div class="o-flex u-align-between u-align-middle">
                                <button n:name="submit" class="o-button o-button--info">Uložit</button>
                                <a n:if="$id" href="{plink :Lang:Admin:Grid:delete $id}" class="o-link o-link--danger">Smazat</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="c-content__body">

            {control flashMessage}

            <div class="o-grid">
                <div class="o-grid__cell 12of12">
                    <div class="o-portlet">
                        <div class="o-portlet__header">
                            <h2 class="o-heading o-heading--h2">Společná data</h2>
                        </div>
                        <div class="o-portlet__body">
                            <div class="o-form__group">
                                <p class="o-form__group">
                                    {label uid, 'class' => 'o-form__label'}
                                    <input n:name="uid" class="o-form__input">
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <hr>

            <div class="o-grid">
                <div class="o-grid__cell 12of12">
                    <ul data-tabs class="c-tabs u-mb-15px">
                        <li n:foreach="\App\LangModule\Locale\LocaleProvider::LOCALE_LIST as $locale" class="c-tabs__item"><a class="c-tabs__link" {if $locale === \App\LangModule\Locale\LocaleProvider::DEFAULT_LOCALE}data-tabby-default{/if} href="#zakladni-udaje-{$locale}">Překlad ({\App\LangModule\Locale\LocaleProvider::getLocaleName($locale)})</a></li>
                    </ul>
                </div>
            </div>

            <div n:foreach="\App\LangModule\Locale\LocaleProvider::LOCALE_LIST as $locale" id="zakladni-udaje-{$locale}">
                <div class="o-grid">
                    <div class="o-grid__cell 12of12">
                        <div class="o-portlet">
                            <div class="o-portlet__header">
                                <h2 class="o-heading o-heading--h2">Překlad ({\App\LangModule\Locale\LocaleProvider::getLocaleName($locale)})</h2>
                            </div>
                            <div class="o-portlet__body">
                                <p class="o-form__group">
                                    {label {$locale}-content, 'class' => 'o-form__label'}
                                    <textarea n:name="{$locale}-content" class="o-form__input" rows="5"></textarea>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</form>
