.o-list-ordered {
  margin: 0;
  padding: 0;

  &:not(:last-child) {
    margin-bottom: 1rem;
  }

  &--roman {
    list-style-type: upper-roman;
  }

  &--inside {
    list-style-position: inside;
  }

  li {
    line-height: 1.5;
    margin-bottom: .75rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
