{block content}

<div class="o-page">

    <div class="o-page__content">
        {control header type => 'absolute'}

        <main>
            <section class="o-wrap">
                <div class="c-login">
                    <div class="c-login__inner">
                        <h1 class="c-login__heading">Máme hotovo, Děkujeme!</h1>
                        <p class="c-login__description">Pokud s námi chcete sdílet dodatečné informace, vyplňte prosím následující údaje. Jedná se čistě o volitelný krok.</p>

                        <div class="c-login__form">
                            <form novalidate>
                                <p class="o-form-group">
                                    <label class="o-form-group__label o-form-label">Oblíbený film</label>
                                    <input class="o-form-group__input o-form-input">
                                </p>

                                <p class="o-form-group">
                                    <label class="o-form-group__label o-form-label">Jméno vašeho psa</label>
                                    <input class="o-form-group__input o-form-input" autocomplete="off">
                                </p>

                                <p class="u-ta-center">
                                    <button class="o-button">Potvrdit</button>
                                </p>

                                <!--p-- class="u-ta-center u-font-size-smaller">
                                    Nemám účet a chci se <a href="{ plink :User:Front:Register:}" class="o-link"><strong>registrovat</strong></a><br>
                                    <a n:href=":User:Front:ForgottenPassword:" class="o-link"><b>Zapomněli</b> jste heslo?</a>
                                </p-->
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        {control footer}
    </div>

</div>
