{block content}
{* Critical css *}
{foreach $criticalStylesheets as $style}
    <link rel="stylesheet" href="{$basePath}{$style}">
{/foreach}

<style>
    .use-page-loader {
        overflow: hidden;
        width: 100%;
        height: 100vh;
    }

    .use-page-loader[data-state~="styles-loaded"] {
        overflow: initial;
        width: initial;
        height: initial;
    }

    .page-loader {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        opacity: 1;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #ffffff;
        transition: top 0ms 200ms, opacity 200ms 0ms;
    }

    .page-loader[data-state~="loaded"] {
        top: -10000px;
        opacity: 0;
    }

    .page-loader__logo {

    }
</style>

<script>
    const urls = {\array_merge($externalStylesheets, $internalStylesheets)}

    function loadStyle(url) {
        return new Promise((resolve) => {
            const link = document.createElement("link");
            link.type = 'text/css';
            link.rel = 'stylesheet';
            link.href = url;
            link.onload = resolve;

            document.body.appendChild(link)
        })
    }

    function onAllLoaded() {
        const loader = document.querySelector('[data-element="page-loader"]');
        if (!loader) return;

        loader.dataset.state = 'loaded';
        document.body.dataset.state = 'styles-loaded';
    }

    function load() {
        Promise.all(urls.map(loadStyle)).then(() => {
            onAllLoaded()
        })
    }

    (function () {
        if (document.readyState === 'loading') {
            window.addEventListener('DOMContentLoaded', load)
        } else {
            load()
        }
    })(document);
</script>

<noscript>
    <style>
        .use-page-loader {
            overflow: initial;
            width: initial;
            height: initial;
        }

        .page-loader {
            display: none;
        }
    </style>

    {foreach $externalStylesheets as $style}
        <link rel="stylesheet" href="{$style}">
    {/foreach}

    {foreach $internalStylesheets as $style}
        <link rel="stylesheet" href="{$basePath}{$style}">
    {/foreach}
</noscript>
