.c-offer-day {
  &__name {
    font-size: 1.75rem;
    font-weight: var(--font-weight-black);
    margin-bottom: .5rem;

    @media print {
      font-size: 1.1rem;
      line-height: 1.3;
      margin-bottom: 0;
    }
  }

  &__date {
    font-size: 1.5rem;
    font-weight: var(--font-weight-light);

    @media print {
      font-size: 1rem;
    }
  }

  &__label {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: rem(3px);
    font-size: .8rem;
    font-weight: var(--font-weight-bold);
    margin-bottom: .75rem;
    color: var(--color-gold);

    @media print {
      letter-spacing: rem(2px);
      font-size: rem(10px);
      margin-bottom: 0;
    }
  }

  &__list {
    &:not(:last-child) {
      margin-bottom: 1rem;
    }

    @media print {
      &:not(:last-child) {
        margin-bottom: 0;
      }
    }
  }

  &__item {
    counter-increment: meal;
  }

  &__item-inner {
    display: flex;
    align-items: center;
    margin-bottom: .75rem;

    &:not(&--no-num) {
      &::before {
        content: counter(meal, upper-roman) ".";
        margin-right: .5rem;
      }

      &::after {
        content: '';
        height: 2px;
        flex-grow: 1;
        margin: calc(1rem - 5px) 0 0 .5rem;
        background: repeating-linear-gradient(to right,currentColor 0,currentColor 2px,transparent 2px,transparent 5px)
      }
    }

    @media print {
      margin-bottom: 0;
    }
  }

  &__input {
    order: -1;
    margin-right: 1rem;
  }

  &__meal {
    margin-bottom: 0;

    &--bold {
      font-weight: var(--font-weight-semi-bold);
    }
  }

  &__allergens {
    font-size: .6rem;
    font-weight: var(--font-weight-normal);
  }

  &__price {
    margin: 0 0 0 .5rem;
    order: 10;
  }

  &__off {
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    font-size: 1.25rem;
    border: 1px solid var(--color-border);
  }

  &__off-icon {
    display: flex;
    font-size: 1.125rem;
    margin-right: .75rem;
  }

  &__item-detail {
    display: none;
    padding-bottom: .75rem;
    margin-bottom: .75rem;
    border-bottom: 1px solid var(--color-border);

    &[data-state~="show"] {
      display: block;
    }
  }

  @include brk(sm) {
    &__name {
      font-size: 2.25rem;
    }

    &__date {
      font-size: 1.75rem;
    }


    &__content {
      margin: 0 2rem;
    }
  }
}
