.c-offer-overview {
  margin: 0 auto;
  padding: 0 0 3rem;
  max-width: 48rem;

  @media print {
    padding: 0;
  }

  &__block {
    margin-bottom: 4rem;

    &:last-child {
      margin-bottom: 0;
    }

    @media print {
      margin-bottom: .5rem;
    }
  }

  @include brk(md) {
    padding: 3rem 0;
  }
}
