.c-offer-unavailable {

  &__img {
    margin: 0 auto 1rem;
    max-width: 20rem;
  }

  &__body {
    margin: 0 auto 1rem;
    max-width: 30rem;
    text-align: center;
  }

  &__title {
    font-size: 1.5rem;
    font-weight: var(--font-weight-bold);
  }
}
