{block content}

<div class="o-page">

    <div class="o-page__content">
        {control header}

        <main>
            <section>
                <div class="o-wrap">
                    <h1 class="heading--h1 u-ta-center" style="margin-top: 20px">{$currentPosition} / {$totalCount}</h1>
                </div>
            </section>

            {snippet all}

                <section>
                    <div class="o-wrap">
                        <div class="c-homepage-hero" style="width: {$imageWidth}px; height: {$imageHeight}px">
                            <div class="c-homepage-hero__bg" id="paintero" data-horizons="{$images}" data-current-image="{$currentImageUrl}" data-color="{$color}" data-session-id="{$sessionId}" data-upload-link="{$uploadLink}" data-size="{$imageWidth . 'x' . $imageHeight}">
                            </div>

                            <a id="save-button" class="o-button o-button--sm save-handler" style="position: absolute; right: 0; bottom: 0; padding: 10px">Uložit horizont</a>
                        </div>
                    </div>
                </section>

                <section n:if="$horizons->count()">
                    <div class="o-wrap">
                        <h3 class="heading--h3">Uložené horizonty</h3>
                        <ul>
                            <li n:foreach="$horizons as $horizon" class="">
                                {var $color = '#' . $horizon->getColor()}
                                <span style="color: {$color|noescape}">Horizont číslo {$horizon->getPosition()}</span>
                                <a n:if="$iterator->isLast()" class="ajax" style="font-size: 12px; font-weight: bold; margin-left: 10px" n:href="removeHorizon! $horizon->getId()">Odebrat</a>
                            </li>
                        </ul>
                    </div>
                </section>

            <section>
                <div class="o-wrap">
                    <div class="c-order-buttons-area o-button-group">
                        <a n:if="$currentPosition !== 1" n:href=":Horizon:Front:Horizon:back" class="o-button o-button--grey">Zpět</a>
                        <a n:href=":Horizon:Front:Horizon:continue" class="o-button o-button--grey {if ! $horizons->count()}o-button--danger{/if}">
                            {if $horizons->count()}
                                {if $isLast}
                                    Dokončit
                                {else}
                                    Pokračovat
                                {/if}
                            {else}
                                Pokračovat bez výběru
                            {/if}
                        </a>
                    </div>
                </div>
            </section>

            {/snippet}

        </main>



        {control footer}

    </div>
</div>
