{block content}
<picture class="{$class}">
    <source
            n:foreach="$sources as $source"
            srcset="{$source->getSrcset()}"
            {if $source->getType()}type="{$source->getType()}"{/if}
            {if $source->getMedia()}media="{$source->getMedia()}"{/if}
    >

    <img src="{$fallbackUrl}" alt="{$alt}" title="{$alt}" class="{$class}">
</picture>
