// Colors
$color-gold: #C29549;

$color-red: #d83d50;

$color-blue: #4252d8;

$color-green: #37c457;

$color-grayscale-0: #000;
$color-grayscale-10: lighten(#000, 10%);
$color-grayscale-20: lighten(#000, 20%);
$color-grayscale-30: lighten(#000, 30%);
$color-grayscale-40: lighten(#000, 40%);
$color-grayscale-50: lighten(#000, 50%);
$color-grayscale-60: lighten(#000, 60%);
$color-grayscale-65: lighten(#000, 65%);
$color-grayscale-70: lighten(#000, 70%);
$color-grayscale-75: lighten(#000, 75%);
$color-grayscale-80: lighten(#000, 80%);
$color-grayscale-85: lighten(#000, 85%);
$color-grayscale-90: lighten(#000, 90%);
$color-grayscale-95: lighten(#000, 95%);
$color-grayscale-100: lighten(#000, 100%);

$box-shadow-color: rgba(#000, .1);

// Fonts
$font-size: 16px;
$font-montserrat: 'Montserrat', sans-serif;
$font-kaushan: 'Kaushan Script', cursive;

// Sizes
$wrap-width: 78rem;
$side-gap: 1rem;
$mobile-menu-height: 4rem;

// Other
$transition-speed: 200ms;

// Grid
$grid-gap: 2rem;
$grid-cols: 12;
$grid-breakpoints: (
  xxs: 25rem,
  xs: 35rem,
  sm: 48rem,
  md: 64rem,
  lg: 90rem,
  xl: 120rem,
);
