{block content}

<div class="o-page">

    <div class="o-page__content">
        {control header}

        <main>
            <section style="margin-top: 50px">
                <div class="o-wrap">
                    <div class="c-homepage-hero__inner">
                        <p class="c-homepage-hero__title">Jak na to?</p>
                    </div>
                </div>
            </section>

            <section>
                <div class="o-wrap">
                    <div>
                        <video style="width: 100%;" loop autoplay defaultMuted>
                            <source src="https://znojil-private.s3.eu-central-1.amazonaws.com/static/testVideo.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                </div>
            </section>

            <section style="margin-top: 40px; margin-bottom: 80px">
                <div class="o-wrap">
                    <div class="c-homepage-hero__inner">
                        <a n:href=":Horizon:Front:Horizon:" class="o-button">Rozumím a chci začít</a>
                    </div>
                </div>
            </section>
        </main>

        {control footer}

    </div>
</div>
