<footer>
    <div class="c-footer-top">
        <div class="o-wrap">
            <div class="c-footer-top__grid">
                <div class="c-footer-top__col">
                    <p class="c-footer-top__col-title">Popiči výzkum</p>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam id dolor. Mauris elementum mauris vitae tortor. Nam sed tellus id magna elementum tincidunt. Phasellus enim erat, vestibulum vel, aliquam a, posuere eu, velit. Mauris metus. Nulla accumsan, elit sit amet varius semper.</p>
                </div>
                <div class="c-footer-top__col">
                    <nav class="c-footer-top__nav">
                        <p class="c-footer-top__col-title">Odkazy</p>
                        <ul class="c-footer-top__list o-list-reset">
                            <li><a href="" class="o-link">Kam rozvážíme?</a></li>
                            <li><a href="" class="o-link">Jak to funguje?</a></li>
                            <li><a href="" class="o-link">Obchodní podmínky</a></li>
                            <li><a href="" class="o-link">Zpracování osobních údajů</a></li>
                            <li><a href="" class="o-link">Seznam alergenů</a></li>
                            <li><a href="https://www.camposcatering.cz" target="_blank" rel="noopener" class="o-link">Sháníte <strong>catering</strong>?</a></li>
                        </ul>
                        <ul class="c-footer-top__list o-list-reset">
                            <li><a href="" class="o-link">Přihlásit se</a></li>
                            <li><a href="" class="o-link">Registrovat se</a></li>
                            <li><a href="" class="o-link">Zapomenuté heslo</a></li>
                            <li><a href="" class="o-link">Denní menu</a></li>
                            <li><a href="" class="o-link"><strong>Objednávka jídla</strong></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="c-footer-bottom">
        <div class="o-wrap">
            <ul class="c-footer-bottom__list o-list-reset">
                <li>&copy; {="now"|date:'Y'} Marie Jánošíková</li>
                <li>Popiči výzkum</li>
                <li>Třída Generála píky 2005/7, Brno</li>
                <li><a href="mailto:marie@janosik.cz" class="o-link"><b>marie@janosikova.cz</b></a></li>
            </ul>
            <p>Při poskytování služeb nám pomáhají soubory cookie. Používáním webu vyjadřujete souhlas.</p>
            <!--p>Vytvořeno v Brně společností <a href="https://www.madfoxdesign.cz" class="o-link" target="_blank" rel="noopener"><b>MadFox design</b></a></p-->
        </div>
    </div>
</footer>
