.o-tabs-button {
  position: relative;
  border: 0;
  background-color: transparent;
  font-size: 1rem;
  font-family: $font-default;
  font-weight: bold;
  line-height: 1.2;
  padding: .75rem 1.5rem;
  cursor: pointer;
  color: lighten($font-color-default, 20%);

  &[data-state~="active"] {
    border-top-left-radius: $border-radius-default;
    border-top-right-radius: $border-radius-default;
    box-shadow: 0 -.2rem .4rem 0 $box-shadow-color;
    color: $font-color-default;
    background-color: #fff;

    &:first-child {
      &::before {
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        width: $border-radius-default;
        height: $border-radius-default;
        background-color: #fff;
      }
    }
  }

  &:focus {
    outline: none;
  }
}
