// UTILITIES
$breakpoints: $grid-breakpoints;

// justify-content
$align-values-horizontal: (
  left: flex-start,
  center: center,
  right: flex-end,
  between: space-between,
  around: space-around
);

// align-items
$align-values-vertical: (
  top: flex-start,
  middle: center,
  bottom: flex-end,
  stretch: stretch
);

@each $key, $value in $align-values-horizontal {
    .u-align-#{$key} {
        justify-content: $value;
    }

    @each $breakpoint, $num in $breakpoints {
        @media (min-width: $breakpoint) {
            .u-align-#{$key}\@#{$breakpoint} {
                justify-content: $value;
            }
        }
    }
}

@each $key, $value in $align-values-vertical {
    .u-align-#{$key} {
        align-items: $value;
    }

    @each $breakpoint, $num in $breakpoints {
        @media (min-width: $breakpoint) {
            .u-align-#{$key}\@#{$breakpoint} {
                align-items: $value;
            }
        }
    }
}
