// UTILITIES
$breakpoints: $grid-breakpoints;

// align-self
$align-self-values: (
  left: flex-start,
  center: center,
  right: flex-end,
  stretch: stretch,
  baseline: baseline
);

@each $key, $value in $align-self-values {
    .u-align-self-#{$key} {
        align-self: $value;
    }

    @each $breakpoint, $num in $breakpoints {
        @media (min-width: $breakpoint) {
            .u-align-self-#{$key}\@#{$breakpoint} {
                align-self: $value;
            }
        }
    }
}
