$breakpoints: $grid-breakpoints;

.u-hide {
  display: none;
}

@each $breakpoint, $value in $breakpoints {
  @media (min-width: #{map-get($breakpoints, $breakpoint)}) {
    .u-hide-up\@#{$breakpoint} {
      display: none;
    }
  }

  @media (max-width: #{map_get($breakpoints, $breakpoint) - .00625rem}) {
    .u-hide-down\@#{$breakpoint} {
      display: none;
    }
  }
}
