<!DOCTYPE html>
<html lang="cs">
<head>
	{control head}
</head>

<body class="use-page-loader">

<div class="page-loader" data-element="page-loader"></div>

{include content}

<div class="o-modal-area">
    <div class="o-modal-box o-modal-box--sm u-ta-center" data-modal="orderByPhone">
        <button class="o-modal-box__close o-button-reset" data-modal-close="orderByPhone" aria-label="Zavřít">{iconFront 'x'}</button>
        <p class="o-modal-box__title">Stručné info o tom, jak to funguje s přesměrováním na tutoriál, pokud jsem úplně ztracený.</p>
    </div>
    <div class="o-modal-clone" data-modal-clone></div>
</div>
<div id="loader" class="lds-dual-ring hidden overlay"></div>
<script src="{assetLink '/js/front.js?v=' . $assetsVersion}" async defer></script>
</body>
</html>
