.bg-img {
  padding: 200px 0 0 0;
  width: 100%;

  &__wrap {
    padding: 0;
    vertical-align: bottom;
  }

  &__inner {
    position: relative;
    width: 100%;
    max-width: 768px;
    background-color: #ffffff;
  }

  &__inner-cell {
    padding: 50px 50px 25px 50px;
  }

  @include brk(m, max-width) {
    &__inner-cell {
      padding: 50px 10px 25px 10px !important;
    }
  }
}
