.button {
  border: 2px solid #000;
  padding: 10px 20px;
  color: #000;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 3px;
  text-decoration: none;
  font-weight: bold;
  transition: all 300ms;

  &:hover {
    border-color: $color-gold;
    color: $color-gold;
  }
}
