.content {
  padding: 0 15px 50px;

  &__container {
    position: relative;
    width: 100%;
    max-width: 768px;
    background-color: #ffffff;
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.1);
  }

  &__inner {
    padding: 0 50px 50px 50px;
  }

  @include brk(m, max-width) {
    &__inner {
      padding: 0 10px 50px 10px !important;
    }
  }
}
