.heading {
  font-weight: bold;
  line-height: 1.3;
  margin: 0;

  &--h1 {
    padding-bottom: 20px;
    font-size: 30px;
  }

  &--h2 {
    padding-bottom: 5px;
  }

  @include brk(m, max-width) {
    &--h1 {
      font-size: 22px !important;
    }
  }
}
