$whitespace-default: 10px;

.whitespace {
  padding-top: $whitespace-default;

  &-2x {
    padding-top: #{$whitespace-default * 2};
  }

  &-3x {
    padding-top: #{$whitespace-default * 3};
  }

  &-4x {
    padding-top: #{$whitespace-default * 4};
  }
}
