$animation-default-distance: 3rem;

[data-animate-target] {
  // Defaults
  opacity: 0;

  // Types
  &[data-animate-type~="left"] {
    transform: translateX(#{$animation-default-distance});
  }

  &[data-animate-type~="right"] {
    transform: translateX(-#{$animation-default-distance});
  }

  &[data-animate-type~="top"] {
    transform: translateY(-#{$animation-default-distance});
  }

  &[data-animate-type~="bottom"] {
    transform: translateY(#{$animation-default-distance});
  }

  // Timing
  &[data-animate-timing~="ease-in"] {
    transition-timing-function: ease-in;
  }

  &[data-animate-timing~="ease-out"] {
    transition-timing-function: ease-out;
  }

  &[data-animate-timing~="ease-in-out"] {
    transition-timing-function: ease-in-out;
  }

  &[data-animate-timing~="linear"] {
    transition-timing-function: linear;
  }

  // States
  &[data-state~="animating"] {
    opacity: 1;
    transform: translate(0);
    transition-property: opacity, transform;
    transition-duration: 500ms;
    transition-delay: 0ms;
    transition-timing-function: ease;
  }

  &[data-state~="animated"] {
    opacity: 1;
    transform: translate(0);
  }
}