.o-icon {
  min-width: 1em;
  max-width: 1em;
  width: 1em;
  height: 1em;
  fill: currentColor;

  svg {
    fill: currentColor;
    width: 100%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
  }
}
