.o-link {
  border: 0;
  padding: 0;
  margin: 0;
  background-color: transparent;
  cursor: pointer;
  transition: color var(--transition-speed);

  &:focus {
    outline: none;
  }

  &:hover {
    color: var(--color-primary);
  }

  &--danger {
    color: var(--color-danger);
  }

  &--danger-hvr:hover {
    color: var(--color-danger);
  }
}
