.o-section {
  padding: 3rem 0;

  &--sm {
    padding: 3rem 0;
  }

  &--first {
    padding-top: 1rem;
  }

  @include brk(tablet) {
    padding: 4rem 0;

    &--first {
      padding-top: 2rem;
    }
  }

  @include brk(md) {
    padding: 6rem 0;

    &--first {
      padding-top: 3rem;
    }
  }
}
