body {
  margin: 0;
  padding: 0;
  line-height: 1.7;
  background-color: #f0f0f0;
}

p {
  margin: 0;
}

table {
  width: 100%;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  border-spacing: 0;
  font-family: Montserrat, sans-serif;
}

hr {
  border: 0;
  border-top: 1px solid #dadada;
}

img {
  width: 100%;
}
