{block content}

<form n:name="form" class="js-bar-edit-form" novalidate>
    <div class="c-content c-content--action-bar">
        <div class="c-content__header">
            <h1 class="o-heading o-heading--h1">
                {if $name}
                    {$name}
                {else}
                    Nová položka
                {/if}
            </h1>
        </div>

        <div class="c-content__action-bar">
            <div class="o-grid">
                <div class="o-grid__cell 12of12">
                    <div class="o-portlet">
                        <div class="o-portlet__header">
                            <h2 class="o-heading o-heading--h2">Obecné informace</h2>
                        </div>
                        <div class="o-portlet__body">
                            <dl>
                                <dt class="o-description-list__name">Datum poslední změny</dt>
                                <dd class="o-description-list__value">{if $lastUpdateDate}{$lastUpdateDate|date:'d. m. Y H:i'}{else}---{/if}</dd>
                            </dl>
                        </div>
                        <div class="o-portlet__footer">
                            <div class="o-flex u-align-between u-align-middle">
                                <a n:if="$id" href="{plink :Horizon:Admin:CaseGrid:delete $id}" class="o-link o-link--danger">Smazat</a>
                                <button n:name="submit" class="o-button o-button--info">Aktualizovat</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="c-content__body">

            {control flashMessage}

            <div class="o-grid">
                <div class="o-grid__cell 12of12">
                    <div class="o-portlet">
                        <div class="o-portlet__body">
                            <div class="o-form__group">
                                <p class="o-form__group">
                                    {label name, 'class' => 'o-form__label'}
                                    <input n:name="name" class="o-form__input">
                                </p>
                            </div>
                            <div class="o-form__group">
                                <p class="o-form__group">
                                    {label position, 'class' => 'o-form__label'}
                                    <input n:name="position" class="o-form__input">
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="o-grid__cell 12of12">
                    <div class="o-portlet">
                        <div class="o-portlet__header">
                            <h2 class="o-heading o-heading--h2">Obrázek</h2>
                        </div>
                        <div class="o-portlet__body">
                            <div id="upload-thumbnail" class="o-file-upload" data-file-upload>
                                <input n:name="image" type="file" class="o-file-upload__input" data-element="file-upload-input">
                                <label n:name="image" class="o-file-upload__label">
                                    <span class="o-file-upload__icon">{icon 'upload'}</span>
                                    <span class="o-file-upload__text">
										<span class="o-file-upload__placeholder" data-element="file-upload-placeholder">Nahrát</span>
										<span class="o-file-upload__count" data-element="file-upload-count" data-nouns='{"one":"*count* soubor vybrán","few":"*count* soubory vybrány","other":"*count* souborů vybráno"}'></span>
									</span>
                                </label>
                            </div>

                            {if $imageUrl}
                                <div class="c-gallery">
                                    <div class="c-gallery__item">
                                        <div class="c-gallery__item-inner">
                                            <div class="c-gallery__image">
                                                <img src="{$imageUrl}" class="o-image">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {/if}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
