.c-footer-bottom {
  padding: 2rem 0;
  font-size: .875rem;
  text-align: center;
  color: var(--color-black-lighten);

  p:last-child {
    margin-bottom: 0;
  }

  &__list {
    margin-bottom: 2rem;

    li {
      margin-bottom: 1rem;
    }
  }

  @include brk(md) {
    &__list {
      display: flex;
      justify-content: center;
      margin-bottom: 1rem;

      li {
        display: flex;

        &:not(:last-child)::after {
          content: '';
          margin: 0 2rem;
          width: 1px;
          height: 1rem;
          align-self: stretch;
          background-color: var(--color-gray);
        }
      }
    }
  }

  @media print {
    display: none;
  }
}
