.c-footer-top {
  padding: 3rem 0;
  background-color: var(--color-gray-lightest);

  &__logo {
    max-width: 13rem;
    margin-bottom: 1rem;
  }

  &__nav {
    margin-top: 1.5rem;
    line-height: 1;
    font-size: .875rem;
  }

  &__col-title {
    width: 100%;
    margin-bottom: 1rem;
    letter-spacing: rem(3px);
    text-transform: uppercase;
    font-weight: var(--font-weight-bold);
  }

  &__list {
    line-height: var(--line-height-low);
    margin-bottom: 2rem;

    &:last-child {
      margin-bottom: 0;
    }

    &--row {
      display: flex;

      li:not(:first-child) {
        margin-left: .5rem;
      }
    }

    li {
      margin-bottom: .75rem;
    }
  }

  &__list-icon {
    font-size: 2.5rem;
  }

  @include brk(sm) {
    padding: 4rem 0;

    &__col-title {
      margin-left: 3rem;
    }

    &__nav {
      display: flex;
      flex-wrap: wrap;
      margin-left: -3rem;
    }

    &__list {
      width: calc(#{percentage(1/2)} - 3rem);
      margin-left: 3rem;
      margin-bottom: 0;
    }
  }

  @include brk(md) {
    &__grid {
      display: flex;
      margin-left: -6rem;
    }

    &__col {
      width: calc(#{percentage(4/12)} - 6rem);
      margin-left: 6rem;

      &:nth-child(2) {
        width: calc(#{percentage(8/12)} - 6rem);
      }
    }
  }

  @media print {
    display: none;
  }
}
