.o-modal-box {
  position: fixed;
  top: -1000rem;
  left: 50%;
  z-index: 1001;
  max-width: 48rem;
  width: calc(100% - 2rem);
  padding: 3rem 2rem;
  opacity: 0;
  background-color: #fff;
  transform: translate(-50%, calc(-50% - 1rem));
  box-shadow: 0 0 1rem 0 var(--box-shadow-color);
  transition: top 0ms var(--transition-speed), opacity var(--transition-speed), transform var(--transition-speed);

  &[data-state~="visible"] {
    top: 50%;
    opacity: 1;
    transform: translate(-50%, -50%);
    transition: top 0ms 0ms, opacity var(--transition-speed), transform var(--transition-speed);
  }

  &--sm {
    max-width: 34rem;
  }

  &__close {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    font-size: 1.25rem;
    padding: .5rem;
    transition: all var(--transition-speed);

    &:hover {
      transform: rotate(90deg);
      color: var(--color-danger);
    }

    &:focus {
      outline: none;
    }
  }

  &__title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: var(--font-weight-bold);
  }

  @include brk(md) {
    padding: 3rem;

    &__title {
      font-size: 1.75rem;
    }
  }
}
