.o-modal-clone {
  position: fixed;
  z-index: 1000;
  top: -1000rem;
  left: 0;
  right: 0;
  height: 100vh;
  opacity: 0;
  background-color: var(--modal-clone-color);
  transition: top 0ms var(--transition-speed), opacity var(--transition-speed);

  &[data-state~="visible"] {
    top: 0;
    opacity: 1;
    transition: top 0ms 0ms, opacity var(--transition-speed);
  }
}
