$breakpoints: $grid-breakpoints;

.u-hide {
  display: none;
}

@each $breakpoint, $value in $breakpoints {
  @media (min-width: $breakpoint) {
    .u-hide-up\@#{$breakpoint} {
      display: none;
    }
  }

  @media (max-width: #{$breakpoint - 1px}) {
    .u-hide-down\@#{$breakpoint} {
      display: none;
    }
  }
}
