.o-breadcrumbs {
  display: flex;
  align-items: center;

  &__item {
    font-size: 16px;
  }

  &__link {
    color: $font-color-default;
    transition: color $transition-speed-default;

    &:hover {
      color: lighten($font-color-default, 30%);
    }
  }

  &__separator {
    width: 1rem;
    height: 1rem;
    margin: 0 .5rem;
  }
}
