.o-button {
  display: inline-block;
  padding: .5em 1em;
  font-size: 12px;
  font-weight: bold;
  font-family: $font-default;
  text-decoration: none;
  text-align: center;
  color: $font-color-default;
  border-radius: $border-radius-default;
  border: 1px solid currentColor;
  cursor: pointer;

  &:hover {
    background-color: $gray-lightest;
  }

  &--sm {
    font-size: 10px;
  }

  &--lg {
    font-size: 14px;
    padding: .7em 1.5em;
  }

  &--block {
    width: 100%;
  }

  &--primary {

  }

  &--secondary {

  }

  &--success {
    color: #fff;
    background-color: $green-light;
    border-color: $green-light;

    &:hover {
      background-color: $green-dark;
      border-color: $green-dark;
    }
  }

  &--danger {
    color: #fff;
    background-color: $red-light;
    border-color: $red-light;

    &:hover {
      background-color: $red-dark;
      border-color: $red-dark;
    }
  }

  &--warning {
    color: #fff;
    background-color: $orange-light;
    border-color: $orange-light;

    &:hover {
      background-color: $orange-dark;
      border-color: $orange-dark;
    }
  }

  &--info {
    color: #fff;
    background-color: $blue-light;
    border-color: $blue-light;

    &:hover {
      background-color: $blue-dark;
      border-color: $blue-dark;
    }
  }

  &--light {

  }

  &--dark {

  }

  &--link {

  }
}
