.o-checkbox {
  display: inline-block;

  &__input {
    display: none;
  }

  &__label {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &__label-box {
    position: relative;
    display: block;
    width: 15px;
    height: 15px;
    margin-bottom: 2px;
    border-radius: 3px;
    background-color: $gray-lightest;

    &::before,
    &::after {
      content: '';
      position: absolute;
      height: 2px;
      background-color: transparent;
    }

    &::before {
      left: 3px;
      top: 8px;
      width: 5px;
      transform: rotate(45deg);
    }

    &::after {
      right: 2px;
      top: 7px;
      width: 8px;
      transform: rotate(-45deg);
    }
  }

  &__label-text {
    margin-left: 8px;
  }

  &__input:checked + &__label &__label-box,
  &[data-state~="checked"] &__label &__label-box {
    background-color: $blue-light;
    animation: checkboxPulse 1s;

    &::before,
    &::after {
      background-color: #fff;
    }
  }
}

@keyframes checkboxPulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba($blue-light, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba($blue-light, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba($blue-light, 0);
  }
}
