.o-data-table {
  width: 100%;

  &__thead,
  &__tbody,
  &__tfoot {

  }

  &__row {
    &:hover {
      background-color: $blue-lightest;
    }
  }

  &__sort {
    display: flex;
    width: 20px;
    height: 20px;
    margin-left: 10px;
  }

  &__sort-arrow-asc,
  &__sort-arrow-desc {
    width: 10px;
    height: 20px;
    color: $gray-light;

    &:hover, &--active {
      color: $gray-dark;
    }
  }

  &__sort-arrow-asc {
    transform: rotate(180deg);
  }

  &__th,
  &__cell {
    padding: 15px;
    text-align: left;
    vertical-align: middle;
    border: $border-default;
  }

  &__th {
    font-weight: bold;
    border-bottom: $border-double;
  }

  &__cell {

  }

  &__cell-fit {
    width: 1%;
    white-space: nowrap;
  }

  &__paginator {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    margin-top: 15px;
  }

  &__paginator-summary {

  }

  &__paginator-sites {
    margin-left: 15px;
  }

  &__paginator-row-count {
    display: flex;
    align-items: center;
    margin-right: auto;
  }

  &__paginator-row-count-label {
    margin-right: 10px;
  }
}
