.o-file-upload {

  &__input {
    display: none;
  }

  &__label {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 100%;
    min-height: 40px;
    padding: 10px;
    border-radius: $border-radius-default;
    color: #fff;
    background-color: $blue-light;
    transition: background-color $transition-speed-default;

    &:hover {
      background-color: $blue-dark;
    }
  }

  &[data-state~="is-chosen"] &__label {
    background-color: $green-dark;

    &:hover {
      background-color: darken($green-dark, 10%);
    }
  }

  &__icon {
    width: 1.2em;
    height: 1.2em;
    margin-right: 5px;
    margin-bottom: 3px;
  }

  &[data-state~="is-chosen"] &__icon {
    display: none;
  }

  &__text {
    font-weight: bold;
  }

  &__placeholder {

  }

  &[data-state~="is-chosen"] &__placeholder {
    display: none;
  }

  &__count {
    display: none;
  }

  &[data-state~="is-chosen"] &__count {
    display: initial;
  }
}