.o-flash-message {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 20px 25px;
  margin-bottom: 15px;
  border-radius: $border-radius-default;
  background-color: #fff;
  box-shadow: $box-shadow-default;

  &__icon {
    width: 100%;
    max-width: 25px;
    height: 25px;
    margin-right: 15px;
  }

  &__content {
    padding-right: 15px;
  }

  &__close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px;
    color: $gray-light;
    cursor: pointer;

    &:hover {
      color: $gray-dark;
    }
  }

  &--error {
    color: $red-dark;
  }

  &--info {
    color: $blue-dark;
  }

  &--success {
    color: $green-dark;
  }
}
