.o-form {

  &__label-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 2;
  }

  &__group:not(:last-of-type) {
    margin-bottom: .5rem;
  }

  &__label {
    @extend .o-label;
    margin-bottom: 5px;
  }

  &__input,
  &__textarea {
    @extend .o-input;
    height: auto;
  }

  &__input-wrapper {
    position: relative;
    display: block;
  }

  &__input {
    padding-right: 35px;
  }

  &__textarea {
    max-width: 100%;
    min-width: 100%;
  }

  &__text {
    display: block;
    margin-top: 5px;
    color: $gray-dark;
    font-size: 12px;
  }

  &__group--error &__label {
    color: $red-light;
  }

  &__group--error &__input,
  &__group--error &__textarea {
    border-color: $red-light;
  }

  &__error-message {
    margin-left: 15px;
    font-size: 12px;
    color: $red-light;
  }

  &__error-icon {
    position: absolute;
    z-index: 10;
    top: 50%;
    right: 8px;
    width: 20px;
    height: 20px;
    padding: 2px;
    color: $red-light;
    transform: translateY(-50%);
  }
}
