.o-form-error {
  position: relative;

  &__label {
    color: #da4541;
  }

  &__input {
    border-color: #da4541 !important;
  }

  &__message {
    display: block;
    font-size: 14px;
    margin-top: 5px;
    color: #da4541;

    &--absolute {
      position: absolute;
      min-width: 200px;
      top: -5px;
      left: 50%;
      line-height: 1.3;
      padding: 10px;
      transform: translate(-50%, -100%);
      text-align: center;
      border-radius: $border-radius-default;
      box-shadow: 0 0 10px 0 rgba(#000, .1);
      background-color: #fff;
    }
  }
}
