.o-grid {
  display: grid;
  list-style: none;
  margin: -#{$grid-gap} 0 0 -#{$grid-gap};
  padding: 0;
  grid-template-columns: repeat( auto-fit, minmax(#{percentage(1/$grid-cols)}, 1fr) );

  &__cell {
    margin: #{$grid-gap} 0 0 #{$grid-gap};
  }

  @for $i from 1 through $grid-cols {
    [class~="#{$i}of#{$grid-cols}"] {
      grid-column: span #{$i};
    }
  }

  @each $breakpoint, $value in $grid-breakpoints {
    @media (min-width: $value) {

      // GRID CELL UTIL CLASSES
      @for $i from 1 through $grid-cols {
        [class~="#{$i}of#{$grid-cols}\@#{$breakpoint}"] {
          grid-column: span #{$i};
        }
      }
    }
  }
}
