.o-heading {
  line-height: 1.5;

  &--h1 {
    font-size: 1.4em;
    font-weight: bold;
  }

  &--h2 {
    font-size: 1.1em;
    font-weight: bold;
  }

  &--h3 {
    font-weight: bold;
    margin-bottom: .4em;
  }
}
