.o-input {
  display: block;
  width: 100%;
  height: calc(1em + 1rem + 5px);
  padding: 8px 12px;
  font-size: 1em;
  font-family: $font-default;
  border: $border-default;
  border-radius: $border-radius-default;
  background-color: transparent;

  &:focus {
    outline: none;
    border-color: $blue-light;
  }

  &--select {
    font-size: 12px;
  }

  &--area {

  }

  &--auto-width {
    width: auto;
  }
}
