.o-layout {

  &__top-bar {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: $topbar-height;
  }

  &__container {
    position: relative;
    max-width: $layout-container;
    margin: 0 auto;
    padding: #{$topbar-height + $layout-gap} $layout-gap $layout-gap #{$sidebar-width + $layout-gap * 2};
  }

  &__side-bar {
    position: fixed;
    top: #{$topbar-height + 30px};
    left: 50%;
    bottom: $layout-gap;
    width: $sidebar-width;
    overflow-y: auto;
    transform: translateX(-#{$layout-container / 2 - $layout-gap});
  }

  &__content {

  }

  @media (max-width: $layout-container) {
    &__side-bar {
      left: 30px;
      transform: translateX(0);
    }
  }
}
