.o-link {
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1rem;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
  color: $blue-darkest;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    border-bottom: 2px solid currentColor;
    transform: translateY(5px);
    transition: all $transition-speed-default;
  }

  &:hover::after {
    opacity: 1;
    transform: translateY(0);
  }

  &--primary {
    color: $blue-dark;
  }

  &--success {
    color: $green-dark;
  }

  &--warning {
    color: $orange-dark;
  }

  &--danger {
    color: $red-light;
  }
}
