.o-paginator {
  display: flex;

  &__arrow,
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    border: $border-default;
    margin-left: -1px;
    cursor: pointer;

    &:first-child {
      margin-left: 0;
    }

    &:hover {
      background-color: $gray-lightest;
    }

    a {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      padding: 5px;
      color: currentColor;
      text-decoration: none;
    }
  }

  &__arrow {
    width: 30px;

    a {
      padding: 7px;
    }
  }

  &__item {
    min-width: 30px;

    &.is-active {
      color: #fff;
      background-color: $gray-dark;
    }
  }
}
