.o-portlet {
  border-radius: $border-radius-default;
  background-color: #fff;
  box-shadow: $box-shadow-default;

  &__header {
    display: flex;
    align-items: center;
    padding: 0 1.5rem;
    min-height: $portlet-header-min-height;
    border-bottom: $border-default;
  }

  &__header-actions {
    margin-left: auto;
  }

  &__body {
    padding: 1rem 1.5rem;

    &:first-child {
      padding-top: 1.5rem;
    }

    &:last-child {
      padding-bottom: 1.5rem;
    }
  }

  &__footer {
    display: flex;
    align-items: center;
    padding: 0 25px;
    min-height: $portlet-header-min-height;
    border-top: $border-default;
  }
}
