.o-radio {
  display: inline-block;

  &__input {
    display: none;
  }

  &__label {
    display: flex;
    align-items: center;
  }

  &__label-box {
    position: relative;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
    background-color: $gray-lightest;

    &::before {
      content: none;
      position: absolute;
      top: 50%;
      left: 50%;
      border-radius: 50%;
      width: 6px;
      height: 6px;
      background-color: $gray-dark;
      transform: translate(-50%, -50%);
    }
  }

  &__label-text {
    margin-left: 5px;
  }

  &__input:checked + &__label &__label-box {
    &::before {
      content: '';
    }
  }
}
