.o-tag {
  display: inline-block;
  padding: .5em 1em;
  font-size: 10px;
  letter-spacing: .1em;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: $font-color-default;
  border-radius: 100px;
  border: 1px solid currentColor;

  &--success {
    color: #fff;
    background-color: $green-dark;
    border-color: $green-dark;
  }

  &--danger {
    color: #fff;
    background-color: $red-dark;
    border-color: $red-dark;
  }

  &--warning {
    color: #fff;
    background-color: $orange-dark;
    border-color: $orange-dark;
  }

  &--info {
    color: #fff;
    background-color: $blue-dark;
    border-color: $blue-dark;
  }
}
