.o-tooltip {
  position: absolute;
  top: -100%;
  left: 0;
  padding: 10px;
  text-align: center;
  transform: translateY(-100%) translateX(-50%);
  background-color: #fff;
  box-shadow: 0 0 30px 0 rgba(#000, .1);
}