.c-burger {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__lines {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1.5rem;

    span {
      width: 100%;
      height: 2px;
      background-color: currentColor;
      margin-bottom: .25rem;
      transition: all var(--transition-speed);
    }
  }

  &[data-state~="opened"] &__lines {

    span:nth-child(1) {
      transform: rotate(45deg)  translate(.26rem, .26rem);
    }

    span:nth-child(2) {
      opacity: 0;
      transform: translateX(-.5rem);
    }

    span:nth-child(3) {
      transform: rotate(-45deg) translate(.26rem, -.26rem);
    }
  }

  &__text {
    text-transform: uppercase;
    font-size: .625rem;
    font-weight: var(--font-weight-bold);
    letter-spacing: 2px;
    margin-bottom: 0;
  }
}
