.c-error {

  &__content {
    max-width: 42rem;
    margin: 6rem auto;
    text-align: center;
  }

  &__code {
    font-size: 4rem;
    font-weight: var(--font-weight-black);
    line-height: 1;
    margin-bottom: 2rem;
  }

  &__title {
    margin: 0 0 1rem;
    font-size: 1.5rem;
  }

  &__text {
    margin-bottom: 2rem;
  }

  @include brk(md) {
    &__code {
      font-size: 6rem;
    }

    &__title {
      font-size: 2rem;
    }

    &__text {
      font-size: 1.125rem;
    }
  }
}
