.c-flash-message {
  display: flex;
  align-items: center;
  margin: 0 auto 2rem;
  padding: .75rem 1rem;
  max-width: 48rem;
  border: 2px solid currentColor;

  &:last-of-type {

  }

  &--error {
    color: var(--color-danger);
  }

  &--success {
    color: var(--color-success);
  }

  &--info {
    color: var(--color-info);
  }

  &__icon {
    display: flex;
    font-size: 1.25rem;
    margin-right: .75rem;
  }

  &__content {
    margin-bottom: 0;
  }
}
