.c-header {
  &__top {
    display: none;
  }

  &__logo {
    max-width: 10rem;
    width: 100%;
  }

  &__main {
    @extend .o-wrap;
  }

  &__main-inner {
    display: flex;
    justify-content: space-between;
  }

  @include brk(md, max-width) {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    background-color: #fff;

    &--shadow {
      box-shadow: 0 0 1rem 0 var(--box-shadow-color);
    }

    &__main-inner {
      align-items: center;
      height: $mobile-menu-height;
    }
  }

  @include brk(md) {
    &__top {
      display: block;
      border-bottom: 1px solid var(--color-border);
      font-size: .75rem;
    }

    &__top-inner {
      display: flex;
      justify-content: space-between;
    }

    &__top-list {
      display: flex;
    }

    &__top-list-item {
      display: flex;
      align-items: center;
      min-height: 2rem;

      &:not(:last-child)::after {
        content: '';
        align-self: stretch;
        margin: 0 .75rem;
        width: 1px;
        background-color: var(--color-border);
      }
    }

    &__main-inner {
      padding: 1.375rem 0;
    }

    &__logo {
      max-width: 13rem;
    }

    &__main-nav {
      display: flex;
      align-items: center;
    }

    &__burger {
      display: none;
    }
  }

  @media (min-width: 66rem) {
    &__top-list-item {
      &:not(:last-child)::after {
        margin: 0 1.375rem;
      }
    }
  }

  @media print {
    &__main-nav,
    &__burger {
      display: none;
    }
  }
}
