.c-hero {
  padding: 3rem 1rem;
  text-align: center;

  @media print {
    padding: 0;
  }

  &__heading {
    max-width: 58rem;
    margin-left: auto;
    margin-right: auto;
    font-size: 2rem;
    line-height: 1.3;
    text-transform: uppercase;
    font-weight: var(--font-weight-black);

    &--with-subheading {
      margin-bottom: 1rem;
    }

    &:last-child {
      margin-bottom: 0;
    }

    @media print {
      font-size: 1.5rem;
      margin-bottom: 0;
    }
  }

  &__subheading {
    font-size: 1.1rem;
    margin-bottom: 1.5rem;

    &:last-child {
      margin-bottom: 0;
    }

    @media print {
      font-size:.8rem;
      margin-bottom: .5rem;
    }
  }

  &__description {
    margin: 0 auto;
    max-width: 40rem;
  }

  @include brk(sm) {
    &__heading {
      font-size: 3rem;
    }

    &__subheading {
      font-size: 1.25rem;
    }
  }

  @include brk(md) {
    &__heading {
      font-size: 4rem;
    }
  }
}
