.c-login {
  display: flex;
  justify-content: center;
  align-items: center;

  &__inner {
    margin: 5rem 0;
    max-width: 32rem;
    width: 100%;
  }

  &__heading {
    font-size: 3rem;
    text-align: center;
    font-weight: var(--font-weight-black);
  }

  &__description {
    max-width: 26rem;
    margin: 0 auto 2rem;
    text-align: center;
  }

  &__form {
    margin: 0 auto;
    max-width: 26rem;
  }
}
