.c-menu {

  &__separator {
    display: block;
    margin: 1.5rem 0;
    width: 100%;
    height: 1px;
    background-color: var(--color-gray);
  }

  @include brk(md, max-width) {
    position: absolute;
    z-index: 100;
    top: -1000rem;
    left: 0;
    right: 0;
    height: calc(100vh - #{$mobile-menu-height});
    opacity: 0;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    transition: top 0ms var(--transition-speed), opacity var(--transition-speed);

    &[data-state~="opened"] {
      top: $mobile-menu-height;
      opacity: 1;
      transition: top 0ms 0ms, opacity var(--transition-speed);
    }

    &__inner {
      padding: 2rem 1.5rem 4rem;
      width: 100%;
      min-height: 100%;
      justify-content: space-between;
      background-color: #ffff;
    }

    &__item {
      font-size: 1.25rem;
      margin-bottom: 1.5rem;
    }

    &__foot-list {
      display: flex;
      flex-wrap: wrap;
      margin-top: 3rem;
    }

    &__foot-item {
      font-size: .75rem;
      margin: 0 1.5rem 1rem 0;
    }
  }

  @include brk(md) {
    &__list {
      display: flex;
      align-items: center;
    }

    &__item {
      margin-left: 3rem;
    }

    &__separator,
    &__foot-list {
      display: none;
    }
  }
}
