.c-typo {
  margin: 0 auto;
  max-width: 48rem;
  line-height: 1.7;

  &--wider {
    max-width: 54rem;
  }

  h2,
  h3 {
    margin-bottom: 1rem;
    font-weight: var(--font-weight-bold);
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  li {
    margin-bottom: .5rem;
  }

  img {
    display: block;
  }
}
