@mixin input-base {
  width: 100%;
  box-shadow: none;
  padding: .7rem;
  font-family: var(--font-primary);
  border: 1px solid var(--color-gray-light);
  transition-property: border-color;
  transition-duration: var(--transition-speed);

  &:focus {
    outline: none;
    border-color: var(--color-gray);
  }

  // Remove chrome autofill color
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active  {
    box-shadow: 0 0 0 30px white inset !important;
  }
}
