.o-form-checkbox {

  &__input {
    display: none;
  }

  &__label {
    display: flex;
    align-items: center;
    cursor: pointer;
    line-height: 1.5;
  }

  &__box {
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin: 0 .5rem .1rem 0;
    border: 2px solid var(--color-gray);

    &::before {
      content: '';
      position: absolute;
      top: .15rem;
      left: .3rem;
      width: .25rem;
      height: .5rem;
      border: solid transparent;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
      transition-property: border-color;
      transition-duration: var(--transition-speed);
    }
  }

  &__input:checked + &__label &__box::before {
    border-color: currentColor;
  }
}
