.o-form-error {

  &__label {
    color: var(--color-danger);
  }

  &__input {
    border-color: var(--color-danger);

    &:focus {
      border-color: var(--color-danger);
    }
  }

  &__message {
    display: block;
    margin-top: .25rem;
    font-size: .75rem;
    letter-spacing: rem(1px);
    color: var(--color-danger);
  }
}
