.o-form-radio {
  margin-bottom: .5rem;

  &__input {
    display: none;
  }

  &__label {
    display: flex;
    align-items: center;
    cursor: pointer;
    line-height: 1.5;
  }

  &__box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.25rem;
    height: 1.25rem;
    margin: 0 .5rem .1rem 0;
    border: 2px solid var(--color-gray);
    border-radius: 50%;

    &::before {
      content: '';
      width: .5rem;
      height: .5rem;
      border-radius: 50%;
      background-color: transparent;
      transition-property: background-color;
      transition-duration: var(--transition-speed);
    }
  }

  &__input:checked + &__label &__box::before {
    background-color: currentColor;
  }
}
