.c-order-layout {

  &__heading {
    margin-bottom: 1rem;
  }

  @include brk(md) {
    display: grid;
    grid-template-columns: 1fr 30rem;
    grid-gap: 3rem;

    &--thanks-sum {
      grid-template-columns: 30rem 1fr;
    }
  }
}
