.c-order-price {
  margin: 0 auto 3rem;
  max-width: 52rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  font-size: 1.25rem;
  border: 1px solid var(--color-border);

  p {
    margin-bottom: 0;
  }

  &__label {

  }

  &__value {
    font-weight: var(--font-weight-bold);
  }
}
