.c-order-summary {

  &__day {
    margin-bottom: 1rem;
  }

  &__day-name {
    margin-bottom: .5rem;
  }

  &__meal {
    margin-bottom: .5rem;
  }

  &__meal-row {
    display: flex;
    align-items: center;

    p {
      margin-bottom: 0;
    }

    &::after {
      content: '';
      height: 2px;
      flex-grow: 1;
      margin: calc(1rem - 5px) 0 0 .5rem;
      background: repeating-linear-gradient(to right,currentColor 0,currentColor 2px,transparent 2px,transparent 5px)
    }
  }

  &--smaller &__meal {
    margin-bottom: 1rem;
    font-size: rem(14px);
  }

  &__meal-price {
    font-weight: var(--font-weight-bold);
    margin-left: .5rem;
    order: 10;
  }

  &__meal-allergens {
    font-size: .6rem;
  }

  &__meal-details {
    display: flex;
    font-size: .75rem;
  }

  &__meal-detail-icon {
    font-size: .75rem;
    margin: 0 .25rem;
  }

  &__meal-detail-label {

  }

  &__meal-detail-price {
    margin-left: auto;
  }

  &__sum {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    padding-top: 1rem;
    border-top: 1px solid var(--color-border);
    font-size: 1.2rem;
    font-weight: var(--font-weight-bold);
  }
}
