.c-order-thanks {
  padding: 4rem;

  &__wrap {
    max-width: 48rem;
    margin: 0 auto;

    &--wider {
      max-width: 56rem;
    }

    &--thinner {
      max-width: 42rem;
    }
  }

  &__center {
    text-align: center;
  }

  &__img {
    max-width: 20rem;
    margin: 0 auto 3rem;
  }

  &__title {
    font-size: 2.5rem;
  }

  &__description {
    margin: 0 auto 1.5rem;
    max-width: 30rem;
  }

  &__order-id-label {
    margin-bottom: 0;
  }

  &__order-id {
    font-size: 1.5rem;
    font-weight: var(--font-weight-bold);
  }

  &__payment {
    margin-bottom: 3rem;
  }

  &__addresses {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -2rem 0 3rem -2rem;
  }

  &__address {
    margin: 2rem 0 0 2rem;
    width: calc(50% - 2rem);
    padding: 2rem;
    border: 1px solid var(--color-border);;
  }

  &__address-list {

    li {
      line-height: 1.5;
      margin-bottom: .25rem;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  @include brk(sm, max-width) {
    padding: 4rem 0;

    &__address {
      width: 100%;
    }
  }
}
