<!DOCTYPE html><!-- "' --></textarea></script></style></pre></xmp></a></audio></button></canvas></datalist></details></dialog></iframe></listing></meter></noembed></noframes></noscript></optgroup></option></progress></rp></select></table></template></title></video>

<meta charset="utf-8">
<meta name="robots" content="noindex">
<title>Server Error</title>

<link rel="stylesheet" href="/assets/css/front.error.css">

<div class="page" id="nette-error">
    <div class="page__inner">
        <p class="title" data-text="Error 500">Error 500</p>
        <p class="subtitle" data-text="Ooops, that's our bad.">Ooops, that's our bad.</p>
        <p class="msg" data-text="We're not exactly sure what happened, but our servers say something is wrong.">Sorry. We're not exactly sure what happened, but our servers say something is wrong.</p>
        <p class="refresh"><a href="" data-text="Try refresh this page">Try refresh this page</a></p>
    </div>
</div>

<script>
    document.body.insertBefore(document.getElementById('nette-error'), document.body.firstChild);
</script>

