.c-homepage-hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  &__inner {
    position: relative;
    z-index: 10;
    text-align: center;
  }

  &__title {
    text-transform: uppercase;
    text-align: center;
    font-size: 2.5rem;
    font-weight: var(--font-weight-black);
    letter-spacing: rem(3px);
    line-height: 1.25;
    margin: 1.5rem 0 2.5rem;
  }

  @include brk(sm, max-width) {
    &__title {
      @include text-stroke(#fff, .2rem);
    }
  }

  @include brk(sm) {

    &__title {
      font-size: 3.5rem;
    }
  }
}
