.c-homepage-offer {
  padding: 3rem 0;

  &__title {
    text-transform: uppercase;
    text-align: center;
    letter-spacing: rem(5px);
    margin-bottom: 2rem;
  }

  &__box {
    max-width: 46rem;
    margin: 0 auto;
    padding: 3rem 2rem;
    box-shadow: 0 0 2rem 0 var(--box-shadow-color);

    p:last-child {
      margin-bottom: 0;
    }
  }

  &__box-heading {
    display: flex;
    text-transform: uppercase;
    letter-spacing: rem(3px);
    font-weight: var(--font-weight-bold);
    margin-bottom: 1rem;

    p {
      margin-bottom: 0;
      line-height: 1.2;
      font-size: .875rem;
    }

    &:not(:first-child) {
      margin-top: 1.5rem;
    }
  }

  &__box-icon {
    margin-right: .75rem;
  }

  @include brk(sm) {
    &__box {
      padding: 3rem;
    }
  }
}
