.c-homepage-skill {
  margin-bottom: 5rem;

  &__title {
    font-size: 1.5rem;
    font-weight: var(--font-weight-bold);
  }

  @include brk(sm) {
    display: flex;
    align-items: center;
    margin: 5rem 0 5rem -5rem;

    &--reverse {
      flex-direction: row-reverse;
    }

    &__image {
      position: relative;
      display: flex;
      align-items: center;
      width: calc(55% - 5rem);
      min-height: 28rem;
      margin-left: 5rem;
    }

    &__image-inner {
      position: absolute;
      height: 100%;
      width: 100%;
      overflow: hidden;

      img {
        position: absolute;
        width: unset;
        height: 100%;
      }
    }

    &--reverse &__image-inner img {
      right: 0;
    }

    &__image-shadow {
      position: absolute;
      top: 0;
      bottom: 0;
      right: -2rem;
      width: 2rem;
      overflow: hidden;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        border-left: 1px solid var(--color-gray-lightest);
      }

      &::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 5rem;
        background: radial-gradient(closest-side at 50%, rgba(#000, .025), rgba(#000, 0));
      }
    }

    &--reverse &__image-shadow {
      right: unset;
      left: -2rem;
      transform: rotate(180deg);
    }

    &__body {
      width: calc(45% - 5rem);
      margin-left: 5rem;
      padding: 0 2rem 0 0;
    }

    &--reverse &__body {
      padding: 0 0 0 2rem;
    }
  }

  @include brk(md) {
    &__body {
      padding: 0 8rem 0 0;
    }

    &--reverse &__body {
      padding: 0 0 0 8rem;
    }
  }
}
