.c-homepage-values {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 0 1rem -3rem;

  &__item {
    width: 100%;
    text-align: center;
    line-height: 1.5;
    font-size: 1.125rem;
    margin: 2rem 0 0 3rem;
  }

  &__text-hg {
    text-transform: uppercase;
    font-weight: var(--font-weight-bold);
  }

  @include brk(xs) {
    margin: 3rem 0 3rem -3rem;

    &__item {
      width: calc(#{percentage(2/4)} - 3rem);
      margin-left: 3rem;
    }
  }

  @include brk(sm) {
    &__item {
      width: calc(#{percentage(1/4)} - 3rem);
      margin-left: 3rem;
    }
  }
}
