<div class="c-login">
	<!--div class="c-login__logo"></div-->

	<ul class="c-login__tabs">
		<li class="c-login__tab-item is-active">Přihlásit se</li>
	</ul>

	{control flashMessage}

	<form n:name="form" novalidate>
		<div class="c-login__group">
			<label n:name="email" class="c-login__label">E-mail</label>
			<input n:name="email" class="c-login__input">
		</div>
		<div class="c-login__group">
			<label n:name="password" class="c-login__label">Heslo</label>
			<input n:name="password" class="c-login__input">
		</div>
		<div class="c-login__group u-ta-center">
			<button n:name="submit" class="c-login__button o-button o-button--info o-button--lg">Přihlásit se</button>
		</div>
	</form>
</div>
