.c-article-editor {
  background-color: #fff;
  box-shadow: $box-shadow-default;
  border-radius: $border-radius-default;

  .ql-toolbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-height: $portlet-header-min-height;
    border: 0;
    border-bottom: $border-default;
  }

  .ql-container {
    border: 0;
  }

  .ql-editor {
    padding: 30px;
    font-family: $font-slab;
  }

  // Typo
  h1,
  h2,
  h3,
  h4,
  h5 {
    margin-bottom: .5em;
  }

  p,
  ul,
  ol {
    margin-bottom: 1em;
    line-height: 1.7;
  }

  strong {
    font-weight: bold;
  }

  em {
    font-style: italic;
  }
}
