.c-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    'header header'
    'body action-bar'
    'footer action-bar';

  &--action-bar {
    grid-template-columns: 1fr minmax(0px, 280px);
  }

  &__header {
    grid-area: header;
    padding: 5px 0;
    margin-bottom: 10px;
    display: flex;
  }

  &__header-actions {
    margin-left: auto;
  }

  &__body {
    grid-area: body;
  }

  &__action-bar {
    grid-area: action-bar;
    margin-left: $grid-gap;
  }

  &__footer {
    grid-area: footer;
  }
}
