.c-gallery {
  display: flex;
  flex-wrap: wrap;

  &__item {
    width: 100%;
    margin-top: 10px;
    border-radius: $border-radius-default;

    &--highlighted {
      background-color: $blue-darkest;
    }
  }

  &__highlighted-text {
    margin: 0;
    padding: 3px 10px 0;
    font-weight: bold;
    color: #fff;
  }

  &__item-inner {
    position: relative;
    Width: 100%;
    border-radius: $border-radius-default;

    &::before {
      content: '';
      position: absolute;
      z-index: 10;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      border-radius: $border-radius-default;
      background-color: rgba($gray-darkest, .7);
      transition: opacity $transition-speed-default;
    }

    &:hover::before {
      opacity: 1;
    }
  }

 &__item--highlighted &__item-inner {
   padding: 3px;
 }

  &__image {
    display: flex;
    overflow: hidden;
    border-radius: $border-radius-default;
    background-color: #fff;
  }

  &__actions {
    position: absolute;
    z-index: 15;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    color: #fff;
    transition: opacity $transition-speed-default;
  }

  &__item:hover &__actions {
    opacity: 1;
  }

  &__button {
    position: relative;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin: 0 5px;
    padding: 8px;
    background-color: #fff;

    &--red {
      color: $red-light;

      &:hover {
        color: $red-dark;
      }
    }

    &--green {
      color: $green-light;

      &:hover {
        color: $green-dark;
      }
    }
  }

}