.c-login {
  position: relative;
  width: 100%;
  max-width: 350px;
  padding: 80px 40px 40px;
  border-radius: 30px;
  background-color: #fff;
  box-shadow: $box-shadow-default;

  &__logo {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 15px;
    background-color: #fff;
    box-shadow: $box-shadow-default;
    transform: translateX(-50%) translateY(-50%);

    img {
      width: 100%;
    }
  }

  &__tabs {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 30px;
  }

  &__tab-item {
    width: 100%;
    max-width: 50%;
    font-size: 14px;
    font-weight: bold;
    line-height: 2;
    text-align: center;
    border-bottom: 2px solid $gray-lightest;
    color: $gray-light;
    cursor: pointer;

    &.is-active {
      color: $font-color-default;
      border-color: $font-color-default;
    }
  }

  &__group {
    margin-bottom: 25px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__label {
    display: block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 10px;
    font-weight: bold;
    margin-bottom: 5px;
  }

  &__input {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    background-color: $blue-lightest;
    border: 1px solid #dadada;
    border-radius: $border-radius-default;

    &:focus {
      outline: none;
      border-color: $blue-dark;
    }
  }

  &__button {
    //width: 100%;
  }
}
