.c-opening-hours {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: -5px;

  &__row {
    display: grid;
    grid-template-columns: 100px 180px 1fr;
    align-items: center;
    margin-bottom: 5px;
    margin-left: -10px;
  }

  &__cell {
    margin-left: 10px;
  }

  &__day-name {
    width: 100%;
  }

  &__range {
    display: flex;
    align-items: center;
    border: 1px solid $border-color-default;
    border-radius: $border-radius-default;
    max-width: 160px;
  }

  &__input {
    padding: 10px;
    border: 0;
    font-size: 14px;
    width: 100%;
    background-color: transparent;

    &:focus {
      outline: none;
    }

    &--from {
      text-align: right;
    }
  }

  &__separator {
    width: 7px;
    height: 2px;
    background-color: currentColor;
  }
}
