.c-side-menu {
  margin: 15px 0;

  &__list {
    padding: 15px;
  }

  &__item {

  }

  &__label {
    margin-top: 15px;
    padding: 10px 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
    color: $gray-light;
  }

  &__link {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    color: currentColor;
    text-decoration: none;
  }

  &__link-icon {
    width: 1.4em;
    height: 1.4em;
    margin-right: 10px;
  }

  &__link-text {
    font-weight: 600;
    line-height: 1.5;
  }

  &__link:hover,
  &__link:hover &__link-icon {
    color: $blue-dark;
  }
}
