.c-top-bar {
  width: 100%;
  height: 100%;
  background-color: $blue-darkest;

  &__wrap {
    margin: 0 auto;
    padding: 0 $layout-gap;
    max-width: $layout-container;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    display: flex;
    align-items: center;
    margin-right: 15px;
    font-size: 18px;
    font-weight: bold;
    white-space: nowrap;
    color: #fff;
  }

  &__brand {
    display: inline-flex;
    margin-right: 15px;
  }

  &__brand-logo {
    display: block;
    margin-right: 15px;
    width: 100%;
    max-width: 30px;
    min-width: 30px;
    height: 34px;
  }

  &__brand-name {
    white-space: nowrap;
    font-size: 24px;
    color: #fff;
  }

  &__actions {
    display: flex;
    margin-right: 15px;
  }

  &__profile {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;

    &:hover {
      color: $red-light;
    }
  }

  &__profile-text {
    font-weight: bold;
  }

  &__profile-icon {
    width: 18px;
    height: 18px;
    margin-left: 10px;
    color: currentColor;
  }

  /*
  &__profile-img {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: #dadada;
  }
  */
}
