.o-button {
  display: inline-flex;
  padding: .8rem 1.5rem;
  color: var(--color-black-lighten);
  border: 2px solid currentColor;
  background: transparent;
  text-transform: uppercase;
  text-align: center;
  font-size: .75rem;
  font-weight: var(--font-weight-bold);
  letter-spacing: rem(3px);
  line-height: 1.3;
  cursor: pointer;
  transition-property: color, border-color, background-color;
  transition-duration: var(--transition-speed);

  &:hover {
    color: var(--color-primary);
  }

  &:focus {
    outline: none;
  }

  &--danger {
    &:hover {
      color: var(--color-danger);
    }
  }

  &--filled {
    color: #fff;
    border-color: var(--color-black-lighten);
    background-color: var(--color-black-lighten);

    &:hover {
      color: #fff;
      border-color: var(--color-primary);
      background-color: var(--color-primary);
    }
  }

  &--sm {
    padding: .7rem 1.2rem;
  }

  @include brk(md, max-width) {
    backdrop-filter: blur(.5rem);
  }

  @include brk(sm) {
    font-size: .875rem;

    &--sm {
      font-size: .7rem;
    }
  }

  @media print {
    display: none;
  }
}
