.o-button-switcher {
  display: flex;
  justify-content: center;
  margin-left: 2px;

  @media print {
    display: none;
  }

  &__item {
    margin-left: -2px;
    padding: .8rem 1.5rem;
    color: var(--color-black-lighten);
    border: 2px solid var(--color-black-lighten);
    background: transparent;
    text-transform: uppercase;
    text-align: center;
    font-size: .75rem;
    font-weight: var(--font-weight-bold);
    letter-spacing: rem(1px);
    line-height: 1.3;
    cursor: pointer;
    transition-property: color, border-color, background-color;
    transition-duration: var(--transition-speed);

    &:hover:not(&--active) {
      background-color: var(--color-gray-lighten);
    }

    &--active {
      cursor: initial;
      color: #fff;
      border-color: var(--color-black-lighten);
      background-color: var(--color-black-lighten);
    }
  }
}