{block content}

<div class="o-page">

    <div class="o-page__content">
        {control header}

        <main>
            <section style="margin-top: 50px">
                <div class="o-wrap">
                    <div class="c-homepage-hero__inner">
                        <p class="c-homepage-hero__title">Název výzkumu</p>
                        <a n:href=":StaticPages:Front:Tutorial:" class="o-button">Jdu do toho</a>
                    </div>
                </div>
            </section>

            <section>
                <div class="o-wrap">
                    <div class="c-homepage-skill">
                        <div class="c-homepage-skill__image">
                            <div class="c-homepage-skill__image-inner">
                                <img class="o-image" src="https://znojil-private.s3.eu-central-1.amazonaws.com/testCase2.jpeg">
                            </div>
                            <div class="c-homepage-skill__image-shadow"></div>
                        </div>
                        <div class="c-homepage-skill__body">
                            <h2 class="c-homepage-skill__title">Základnní popis</h2>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Duis bibendum, lectus ut viverra rhoncus, dolor nunc faucibus libero, eget facilisis enim ipsum id lacus. Aliquam erat volutpat. Maecenas ipsum velit, consectetuer eu lobortis ut, dictum at dui.</p>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Duis bibendum, lectus ut viverra rhoncus, dolor nunc faucibus libero, eget facilisis enim ipsum id lacus. Aliquam erat volutpat. Maecenas ipsum velit, consectetuer eu lobortis ut, dictum at dui.</p>
                        </div>
                    </div>
                </div>
            </section>

            <section>
                <div class="o-wrap">
                    <div class="c-homepage-skill c-homepage-skill--reverse">
                        <div class="c-homepage-skill__image">
                            <div class="c-homepage-skill__image-inner">
                                <img class="o-image" src="https://znojil-private.s3.eu-central-1.amazonaws.com/testCase1.jpeg">
                            </div>
                            <div class="c-homepage-skill__image-shadow"></div>
                        </div>
                        <div class="c-homepage-skill__body">
                            <h2 class="c-homepage-skill__title">O co jde</h2>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Duis bibendum, lectus ut viverra rhoncus, dolor nunc faucibus libero, eget facilisis enim ipsum id lacus. Aliquam erat volutpat. Maecenas ipsum velit, consectetuer eu lobortis ut, dictum at dui.</p>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Duis bibendum, lectus ut viverra rhoncus, dolor nunc faucibus libero, eget facilisis enim ipsum id lacus. Aliquam erat volutpat. Maecenas ipsum velit, consectetuer eu lobortis ut, dictum at dui.</p>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        {control footer}

    </div>
</div>
