{default $ogImage = $ogImage ?? $defaultOgImage}
{default $metaTitle = $metaTitle ?? $defaultMetaTitle}
{default $metaDesc = $metaDesc ?? $defaultMetaDesc}

{capture $shareImage}{imageLink 'share.jpg', 'size' => 'share-image'}{/capture}

<meta charset="utf-8">

{if isset($noIndex)}
    <meta name="robots" content="noindex, nofollow">
{/if}
<title>{$metaTitle}</title>

<meta name="title" content="{$metaTitle}">
<meta name="author" content="MadFox design s.r.o.">
<meta name="description" content="{$metaDesc|stripHtml}">

<meta name="viewport" content="width=device-width, initial-scale=1">

{* OG *}
<meta property="og:title" content="{$metaTitle|stripHtml}" />
<meta property="og:type" content="website" />
<meta property="og:image" content="{$shareImage}" />
<meta property="og:description" content="{$metaDesc|stripHtml}" />

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{$metaTitle|stripHtml}">
<meta name="twitter:description" content="{$metaDesc|stripHtml}">
<meta name="twitter:image:src" content="{$shareImage}">

<link rel="apple-touch-icon" sizes="180x180" href="{assetLink '/static/favicon/apple-touch-icon.png'}">
<link rel="icon" type="image/png" sizes="32x32" href="{assetLink '/static/favicon/favicon-32x32.png'}">
<link rel="icon" type="image/png" sizes="16x16" href="{assetLink '/static/favicon/favicon-16x16.png'}">
<link rel="manifest" href="{assetLink '/static/favicon/site.webmanifest'}">
<link rel="mask-icon" href="{assetLink '/static/favicon/safari-pinned-tab.svg'}" color="#000000">
<meta name="theme-color" content="#ffffff">

<link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@300;400;600;700;900&display=swap" rel="stylesheet">

{block head}{/block}

{control stylesheets}
