.c-offer-day-detail-row {
  display: flex;
  align-items: center;

  &__bullet {
    padding: 0 .75rem;
  }

  &__input {
    margin-right: 1rem;
  }

  &__label {
    margin-bottom: 0;
  }

  &__price {
    margin: 0 0 0 auto;
  }
}