{snippet flashMessage}

	<div n:foreach="$flashes as $flash" class="o-flash-message" data-flash-message>
		<span class="o-flash-message__icon">
			{if $flash->type === 'error'}
				{icon 'alert-triangle'}
			{elseif $flash->type === 'ok'}
                {icon 'check'}
			{elseif $flash->type === 'info'}
                {icon 'info'}
			{/if}
		</span>
		<p class="o-flash-message__content">
            {$flash->message|noescape}
		</p>
		<div class="o-flash-message__close js-close-button">{icon 'x'}</div>
	</div>
{/snippet}
