{block content}

<div class="c-content">
	<div class="c-content__header">
		<h1 class="o-heading o-heading--h1">Překlady</h1>
		<div class="c-content__header-actions">
			<a n:href=":Lang:Admin:Edit: NULL" class="o-button o-button--info">Přidat nový</a>
		</div>
	</div>
	<div class="c-content__body">

		{control flashMessage}

		{* Data table *}
		<div class="o-portlet">
			<div class="o-portlet__header">
				<h2 class="o-heading o-heading--h2">Seznam</h2>
			</div>
			<div class="o-portlet__body">

				{control grid}

			</div>
		</div>
	</div>
</div>
