.c-form-counter {
  display: inline-flex;
  flex-direction: column;

  &__button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2rem;
    border: 1px solid var(--color-border);
    background-color: transparent;

    &:last-child {
      margin-top: -1px;
    }

    &:focus {
      outline: none;
      background-color: var(--color-gray-lightest);
    }
  }

  &[data-state~="disabled"] &__button {
    display: none;
  }

  &__input-wrapper {

  }

  &__label {
    display: none;
  }

  &__input {
    font-family: var(--font-primary);
    width: 2.5rem;
    padding: .5rem .25rem;
    text-align: center;
    margin-top: -1px;
    border: 1px solid var(--color-border);
    border-radius: 0;
    -webkit-appearance: none;

    &:focus {
      outline: none;
    }
  }

  &[data-state~="disabled"] &__input {
    margin-left: 0;
  }

  @include brk(xs) {
    flex-direction: row;

    &__button {
      width: 2.25rem;
      height: auto;

      &:last-child {
        margin-top: 0;
        margin-left: -1px;
      }
    }

    &__input {
      margin-top: 0;
      margin-left: -1px;
    }
  }

  @include brk(md) {
    /* Chrome, Safari, Edge, Opera */
    &__input::-webkit-outer-spin-button,
    &__input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    &__input[type=number] {
      -moz-appearance: textfield;
    }
  }
}
