<div class="c-offer-unavailable">
    <div class="c-offer-unavailable__img">
        <img src="{$mediaGetter->getRawUrl('nocook.svg')}" alt="Menu není vypsáno" title="Menu není vypsáno">
    </div>
    <div class="c-offer-unavailable__body">
        <p class="c-offer-unavailable__title">Menu není vypsáno</p>
        <p class="c-offer-unavailable__desc">Pokud vidíte tuto hlášku stalo se to, že menu na tento nebo přístí týden není vypsáno. Stalo se tak pravděpodobně z důvodu, že nevaříme a nebo máme dovolenou.</p>
    </div>
</div>
