<header class="c-header">
    <div class="c-header__top">
        <div class="o-wrap">
            <nav class="c-header__top-inner">
                <ul class="c-header__top-list o-list-reset">
                    <li class="c-header__top-list-item"><button class="o-link" data-modal-open="orderByPhone"><strong>Zapomněl jsem</strong> co mám dělat</li>
                </ul>
                <ul class="c-header__top-list o-list-reset">
                    <li class="c-header__top-list-item"><span>Je potřeba nějaký cool <b>textík?</b></span></li>
                    <li class="c-header__top-list-item"><button class="o-link">Tady bude změna jazyka</button></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
