@import 'src/scss/front/variables/variables';

@import 'src/scss/front/mixin/@glitch';
@import 'src/scss/front/mixin/@breakpoints';

body {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
  font-family: monospace;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;

  &__inner {
    max-width: 600px;
  }
}

.title {
  @include glitch("title", 15, #000, #fff, #cacaca, #ff0000);
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
}

.subtitle {
  @include glitch("subtitle", 15, #000, #fff, #cacaca, #ff0000);
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

.msg {
  @include glitch("msg", 15, #000, #fff, #cacaca, #ff0000);
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.refresh {
  a {
    @include glitch("refresh", 15, #ff0000, #fff, #cacaca, #ff0000);
    font-size: 18px;
    line-height: 1.5;
  }
}

@include brk(md) {
  .title {
    font-size: 80px;
  }
}
