{block content}

<div class="o-page">
    {control header type => 'absolute'}
    <div class="o-page__content">
        <main>
            <section class="c-error">
                <div class="o-wrap">
                    <div class="c-error__content">
                        <p class="c-error__code">404</p>
                        <h2 class="c-error__title">Ooops...</h2>
                        <p class="c-error__text">Stránka kterou hledáne neexistuje a nebo byla smazána.</p>
                        <a href="{plink :StaticPages:Front:Homepage:}" class="o-button">Zpět na úvod</a>
                    </div>
                </div>
            </section>
        </main>

        {control footer}

    </div>
