* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

body {
  font-family: var(--font-primary);
  font-size: var(--font-size);
  color: var(--font-color);

  @media print {
    font-size: var(--font-size-print);
    line-height: var(--line-height-print);
  }
}

p {
  line-height: 1.7;
  margin: 0 0 1rem 0;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: currentColor;
}

strong {
  font-weight: var(--font-weight-bold);
}