:root {
  // Base colors
  --color-primary: #{$color-gold};
  --color-primary-darker: #{darken($color-gold, 10%)};
  --color-danger: #{$color-red};
  --color-danger-darken: #{darken($color-red, 10%)};
  --color-info: #{$color-blue};
  --color-success: #{$color-green};
  --color-border: #{$color-grayscale-90};


  // TODO - rework this
  --color-black: #{$color-grayscale-0};
  --color-black-lighten: #{$color-grayscale-20};
  --color-gray: #{$color-grayscale-50};
  --color-gray-lightest: #{$color-grayscale-95};
  --color-gray-lighten: #{$color-grayscale-85};
  --color-gray-light: #{$color-grayscale-75};

  // Font color
  --font-color: #{$color-grayscale-10};

  // Base sizes
  --font-size: #{$font-size};
  --font-size-print: #{$font-size * .8};
  --line-height: 1.5;
  --line-height-print: 1.3;
  --line-height-low: 1.3;
  --line-height-high: 1.7;

  // Font families
  --font-primary: #{$font-montserrat};
  --font-secondary: #{$font-kaushan};

  // Font weights
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --font-weight-black: 900;

  // Other stuff
  --transition-speed: #{$transition-speed};
  --box-shadow-color: #{$box-shadow-color};
  --modal-clone-color: #{rgba(#000, .2)}
}
