@mixin brk($breakpoint, $type: 'min-width', $breakpoints: $grid-breakpoints) {
  @if $type == 'min-width' {
    @media (min-width: map_get($breakpoints, $breakpoint)) {
      @content;
    }
  } @elseif $type == 'max-width' {
    @media (max-width: (map_get($breakpoints, $breakpoint) - .00625rem)) {
      @content;
    }
  }
}
